.jun-radio-group{
  display: inline-block;
}

.jun-radio-div{
  display: inline-block;

  input[type=radio]{
    display: inline-block;
    border: 2px solid #2196f3;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 16px;
    width: 16px;
    vertical-align: -0.6rem;
    transition: all .15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    margin: .4rem;

    &:checked::before {
      transform: scale(1);
      background: #2196f3;
    }

    &::before{
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: 2px;
      transform: scale(0);
      transition: all ease-out 250ms;
    }
  }

  .radio-label{
    display: inline-block;
  }

  // 单选尺寸
  .radio-size-big[type=radio]{
    height: 20px;
    width: 20px;
    vertical-align: -0.7rem;

    &::before{
      width: 10px;
      height: 10px;
      margin: 3px;
    }
  }
  .radio-size-small[type=radio]{
    height: 14px;
    width: 14px;
    vertical-align: -0.5rem;

    &::before{
      width: 6px;
      height: 6px;
      margin: 2px;
    }
  }

  // 颜色
  .radio-color-red[type=radio]{
    border: 2px solid #f44336;

    &:checked::before{
      background: #f44336;
    }
  }
  .radio-color-green[type=radio]{
    border: 2px solid #4caf50;

    &:checked::before{
      background: #4caf50;
    }
  }
  .radio-color-yellow[type=radio]{
    border: 2px solid #ffc107;

    &:checked::before{
      background: #ffc107;
    }
  }

  // 是否禁止
  .is-disabled[type=radio]{
    border: 2px solid #dddfe2;
    cursor: not-allowed;
    background-color: #f3f3f3;
  }

}