.jun-collapse-div{
  display: inline-block;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2);

  .jun-collapse-item-div:last-child{

    .collapse-item-content{
      border-bottom: none;
    }

  }
}

.jun-collapse-item-div{

  .collapse-item-title{
    padding: 9px 0 9px 12px;
    margin: 0;
    height: 36px;
    border-top: 1px solid #E6EBEF;
    border-bottom: 1px solid #E6EBEF;
    position: relative;
    cursor: pointer;

    &:hover{
      background-color: #F5F6FA;
    }
    .collapse-item-icon{
      position: absolute;
      right: 10px;
    }
  }

  .collapse-item-title-isopen{
    border-bottom: none;
  }

  .collapse-item-content{
    position: relative;
    display: block;
    width: 100%;
    padding: 10px;
  }

  // .content-warpper-enter-active{
  //   animation: junHeightToBottom 1s;
  // }
  // .content-warpper-leave-active{
  //   animation: junHeightToTop 0.5s;
  // }

}