.jun-transfer-div{
  display: inline-block;

  .transfer-warpper{
    display: block;
    position: relative;

    .transfer-left, .transfer-middle, .transfer-right{
      display: inline-block;
      height: 240px;
    }

    .transfer-left, .transfer-right{
      width: 180px;
      border: 1px solid #dcdee2;  

      .transfer-title{
        width: 100%;
        height: 36px;
        line-height: 36px;
        text-align: left;
        background-color: #ecedee;
        border-bottom: 1px solid #dcdee2;

        .title-checkbox{
          float: left;
          line-height: 30px;
        }

        .title-num{
          float: right;
          margin-right: 6px;
        }
      }

      .transfer-list{
        width: 100%;
        height: 200px;
        overflow: auto;

        .transfer-list-item{
          display: block;
          width: 100%;
          height: 32px;
          line-height: 32px;
          text-align: left;
        }
      }
    }

    .transfer-middle{
      width: 90px;

      .middle-warpper{
        position: absolute;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }

      .middle-right, .middle-left{
        display: block;
        width: 48px;
        padding: 3px 0;
        background-color: #ecedee;
        cursor: not-allowed;
        margin: 0 auto;
      }
      
      .middle-right{
        margin-bottom: 12px;
      }

      .is-active{
        background-color: #0099cc;
        cursor: pointer;

        .jun-icon{
          color: #ffffff !important;
        }
      }
    }
  }
}