.jun-select-div{
  text-align: left;
  position: relative;
  z-index: 5;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .select-title{
    position: relative;
    z-index: 2;
    display: block;
    padding: .6em 2.5em 0.6em 1em;
    cursor: pointer;
    background-image: linear-gradient(#a872ff, #72B6FF);
    transition: background 0.35s;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &:hover:before {
      opacity: .8;
    }

    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      right: 1em;
      top: 50%;
      z-index: 1;
      margin-top: -2px;
      border-style: solid;
      border-width: .3rem .3rem 0 .3rem;
      transform: translateZ(0) rotate(0);
      border-color: #72B6FF transparent transparent transparent;
      transition: transform 0.35s;
    }

    &:before {
      content: '';
      z-index: -1;
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      opacity: 1;
      transition: opacity 0.35s;
      background: #fff;
    }
  }

  .select-options{
    position: absolute;
    z-index: 1;
    border-color: #72B6FF;
    background: #fff;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    list-style: none;
    left: 4px;
    right: 4px;
    font-size: .8rem;
    overflow: hidden;
    ul {
      list-style: none;
      border: none;
    }

    .select-option{
      position: relative;
      display: block;
      padding: .6em 1em;
      cursor: pointer;
      transition: background 0.35s;
      border: none;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background: #72B6FF;
        transform: translateZ(0) scale(0);
        opacity: 0;
        transition: transform 0.35s, opacity 0.35s;
      }

      &:hover:before {
        transform: translateZ(0) scale(1);
        opacity: .17;
      }
    }

    .select-label {
      display: block;
      padding: .6em 1em;
      cursor: default;
      font-weight: bold;
    }

    .select-optgroup {
      .select-option {
        padding-left: 2em;
      }
    }
  }

  .selectDiv-enter-active, .selectDiv-leave-active {
    transition: opacity 1s, margin-top 1s;
  }

  .selectDiv-enter, .selectDiv-leave-to {
    opacity: 0;
    margin-top: -20px;
  } 
  .selectDiv-leave ,.selectDiv-enter-to {
    opacity: 1;
    margin-top: 0;
  }

}