.jun-notice-div{
  position: fixed;
  top: 30px;
  right: 30px;
  width: 300px;
  z-index: 99;

  .notice-warpper{
    padding: 10px 20px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
  }

}