.jun-tabs-div{
  margin: 0 10px;

  .tabs-head-warpper{
    display: flex;
    border-bottom: 1px solid #d7d8d9;

    .tabs-head-left{
      margin-bottom: -2px;
      border-bottom: 1px solid transparent;

      .tabs-head-item{
        position: relative;
        color: #333333;
        font-size: 14px;
        cursor: pointer;
        float: left;
        padding: 6px 28px;
        background-color: #ffffff;
        border-left: 1px solid #d7d8d9;
        border-top: 1px solid #d7d8d9;
      }

      .tabs-head-item:last-child{
        border-right: 1px solid #d7d8d9;
      }

      //颜色
      .tabs-head-item.tabs-color-blue{
        &:hover{
          color: #0099cc;
        }
      }
      .tabs-head-item.tabs-color-blue.active{
        bottom: 0;
        border-top: 2px solid #28B5D6;
      }

      .tabs-head-item.tabs-color-green{
        &:hover{
          color: #4db118;
        }
      }
      .tabs-head-item.tabs-color-green.active{
        bottom: 0;
        border-top: 2px solid #57bc20;
      }

      .tabs-head-item.tabs-color-red{
        &:hover{
          color: #f25721;
        }
      }
      .tabs-head-item.tabs-color-red.active{
        bottom: 0;
        border-top: 2px solid #fc6824;
      }

      .tabs-head-item.tabs-color-yellow{
        &:hover{
          color: #e79302;
        }
      }
      .tabs-head-item.tabs-color-yellow.active{
        bottom: 0;
        border-top: 2px solid #ffa200;
      }
    }
  }

  .tabs-main-warpper{
    margin-top: 6px;
  }
}