.jun-sidebar-div{

  .sidebar-mask{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #37373799;
  }

  .sidebar-warpper{
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
  }

  .sidebar-warpper.sidebar-direction-right{
    right: 0;
    top: 0;
  }

  .sidebar-warpper.sidebar-direction-left{
    left: 0;
    top: 0;
  }

  .sidebar-warpper.sidebar-direction-top{
    left: 0;
    top: 0;
  }

  .sidebar-warpper.sidebar-direction-bottom{
    bottom: 0;
    left: 0;
  }

  .sidebar-mask-enter-active{
    animation: junFadeIn .5s;
  } 
  .sidebar-mask-leave-active{
    animation: junFadeOut .5s;
  }

  .right-sidebar-warpper-enter-active, {
    animation: junMoveRightIn 0.5s;
  }
  .right-sidebar-warpper-leave-active{
    animation: junMoveRightOut 0.5s;
  }

  .left-sidebar-warpper-enter-active, {
    animation: junMoveLeftIn 0.5s;
  }
  .left-sidebar-warpper-leave-active{
    animation: junMoveLeftOut 0.5s;
  }

  .top-sidebar-warpper-enter-active, {
    animation: junMoveTopIn 0.5s;
  }
  .top-sidebar-warpper-leave-active{
    animation: junMoveTopOut 0.5s;
  }

  .bottom-sidebar-warpper-enter-active, {
    animation: junMoveBottomIn 0.5s;
  }
  .bottom-sidebar-warpper-leave-active{
    animation: junMoveBottomOut 0.5s;
  }
}