.jun-flex-row{
  width: 100%;
  display: -webkit-box;   /*android 2.1-3.0, ios 3.2-4.3*/
  display: -webkit-flex;  /*Chrome 21+*/
  display: -ms-flexbox;  /*WP IE 10*/
  display: -moz-box;
  display: flex;          /*android 4.4*/
}