.jun-input-div{
  width: auto;
  position: relative;
  display: flex;
  
  &:hover{
    .jun-input{
      border: 1px solid #00c1de;
    }

    // 输入是否可以清空
    .i-clearable.is-clearable{
      display: block;
    }
  }

  &:focus{
    border: 1px solid #00c1de;
  }

  // 输入框
  .jun-input{
    width: 100%;
    height: 28px;
    padding: 0 10px;
    flex: 1;
    border: 1px solid #d7d8d9;
  }

  // 禁用图标
  .i-clearable{
    display: none;
    right: 0px;
    top: 1px;
    position: absolute;
    width: 30px;
    height: 30px;
    vertical-align: -webkit-baseline-middle;

    &::before{
      content: "\2716";
      font-size: 16px;
    }
  }

  // 左边图标
  .jun-input-prepend{
    display: none;
    padding: 0 10px;
    background-color: #f8f8f9;
    border: 1px solid #d7d8d9;
    border-right: none;
  }

  // 右边图标
  .jun-input-append{
    display: none;
    padding: 0 10px;
    background-color: #f8f8f9;
    border: 1px solid #d7d8d9;
    border-left: none;
  }
  
  // 输入Input尺寸
  .size-default{
    height: 28px;
    line-height: 28px;
  }
  .size-big{
    height: 32px;
    line-height: 32px;
  }
  .size-small{
    height: 24px;
    line-height: 24px;
  }
  .size-mini{
    height: 20px;
    line-height: 20px;
  }

  // 左边图标是否显示
  .jun-input-prepend.is-prepend{
    display: block;
  }

  // 左边图标是否显示
  .jun-input-append.is-append{
    display: block;
  }
}

// 输入Input是否可以禁用
.jun-input-div.is-disabled{
  opacity: 0.7;
  cursor: not-allowed;
  background-color: #f7f7f7;

  &:hover{
    .jun-input{
      border: 1px solid #d7d8d9;
    }
  }
}